.font-2xl{
	font-size: $font-size-2xl;
	font-weight: bold;
}
.font-xl{
	font-size: $font-size-xl;
	font-weight: 500;
}
.font-lg{
	font-size: $font-size-lg;
	font-weight: 500;
}
.font-md{
	font-size: $font-size-md;
	line-height:30px;
}
.text-italic{
	font-style: italic;
}